body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo1_wrapper {
  width: 300px;
  height: 100px;
}

.logo2_wrapper {
  width: 25%;
  height: 40px;
}

.logo_image {
  width: 100%;
  height: 100%;
}

.logo2_image {
  width: 50px;
  height: 100%;
}

nav {
  display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Playfair+Display:ital,wght@0,500;1,400;1,500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Libre Baskerville', serif !important;
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Playfair Display', serif !important;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: rgba(255, 255, 255, 0.308) !important;

}
.nav-link{
  color: rgb(22, 22, 47) !important;
}

.navbar-brand{
  color: rgb(37, 37, 117)  !important;
}

.navbar-nav{
  margin-left: auto !important;
}

.Routes {
  color: black;
}

.smalling{
  height: 200 px;
  width:100% !important ;
}

h1{
  font-size : 20px !important;
  color: black;
}
.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 20px ! important;
border-radius: 5px ! important;
padding: 20px ! important;
}
.bigimg {
  height: 400px; ;

}

input {
  box-shadow: none !important;
  margin-top: 10px;
  border: 1px solid black !important;
}
h2{
  font-size: 10px !important;
  padding: 10px;
  font-weight: bold !important;
  text-align: center;
}